@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
    background-color: #1677ff;
}

.ant-input {
    padding: 4px 11px !important;
    background-color: #ffffff !important;
    border-width: 1px !important;
    border-color: #d9d9d9 !important;
    border-radius: 6px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    line-height: 1.5714285714285714 !important;
}
